<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crm.mapper.RoleMapper">

	<insert id="bacthupdate" parameterType="com.atguigu.crm.entity.Role">
		insert into role_authority(role_id,authority_id) 
		<foreach open="(" close=")" collection="authorities" item="item" separator="union">
			select #{id},#{item.id} from dual
		</foreach>
	</insert>
	<delete id="removeRelationShip" parameterType="com.atguigu.crm.entity.Role">
		delete from role_authority where role_id=#{id}
	</delete>
	<insert id="save" parameterType="com.atguigu.crm.entity.Role">
		insert into roles(id,name,enabled,description) 
		values(atguigu.nextval,#{name},#{enabled},#{description})
	</insert>
	<select id="getAll" resultType="com.atguigu.crm.entity.Role">
		select id,name,enabled,description from roles
	</select>
	<delete id="delete" parameterType="Long">
		delete from roles where id=#{id}
	</delete>
	
	<resultMap type="com.atguigu.crm.entity.Role" id="roleMap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="enabled" property="enabled"/>
		<result column="description" property="description"/>
		<collection property="authorities" ofType="com.atguigu.crm.entity.Authority">
			<id column="a_id" property="id"/>
		</collection>
	</resultMap>
	<select id="getById" parameterType="Long" resultMap="roleMap">
		select r.id, r.name,r.enabled,r.description,a.id "a_id"
		from roles r 
		left join role_authority ra on r.id=ra.role_id
		left join authorities a on a.id=ra.authority_id
		where r.id=#{id} 
	</select>
</mapper>