<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crm.mapper.SalesPlanMapper">

	<update id="execute" parameterType="com.atguigu.crm.entity.SalesPlan">
		update sales_plan set plan_result=#{result} where id=#{id}
	</update>
	<delete id="delete" parameterType="com.atguigu.crm.entity.SalesPlan">
		delete from sales_plan  where id=#{id}
	</delete>
	<update id="update" parameterType="com.atguigu.crm.entity.SalesPlan">
		update sales_plan set todo=#{todo} where id=#{id}
	</update>
	<insert id="save" parameterType="com.atguigu.crm.entity.SalesPlan" >
		<selectKey keyProperty="id" order="BEFORE" resultType="long">
			select atguigu.nextVal from dual
		</selectKey>
		insert into sales_plan(id,plan_date,todo,chance_id)
		values(#{id},#{date},#{todo},#{chance.id})
	</insert>
	<select id="getById" parameterType="int" resultType="com.atguigu.crm.entity.SalesPlan">
		select id,plan_date,plan_result,todo,chance_id "chance.id"
		from sales_plan where id=#{id}
	</select>
	
	<select id="getListByChance" parameterType="long" resultType="com.atguigu.crm.entity.SalesPlan">
		select id,plan_date "date",plan_result "result",todo,chance_id "chance.id"
		from sales_plan where chance_id=#{id}
	</select>
</mapper>