<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crm.mapper.UserMapper">
	
	
	<delete id="delete" parameterType="Integer">
		delete from users where id=#{id}
	</delete>
	
	
	<update id="update" parameterType="com.atguigu.crm.entity.User">
		update users set name=#{name},password=#{password},enabled=#{enabled},
		role_id=#{role.id} where id=#{id}
	</update>
	<select id="getById" parameterType="Long" resultType="com.atguigu.crm.entity.User" >
		select id,name,salt,password,enabled,role_id "role.id"
		from users where id=#{id}
	</select>
	<insert id="save" parameterType="com.atguigu.crm.entity.User">
		insert into users(id,name,salt,password,enabled,role_id) 
		values(atguigu.nextVal,#{name},#{salt},#{password},#{enabled},#{role.id})
	</insert>
	
	
	<select id="getAll" resultType="com.atguigu.crm.entity.User">
		select id,name
		from users where enabled=1
	</select>
	
	
	
	
	
	
	
	<resultMap type="com.atguigu.crm.entity.User" id="userMap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="password" property="password"/>
		<result column="enabled" property="enabled"/>
		<result column="salt" property="salt"/>
		<result  column="role.name"  property="role.name" />
		<collection property="role.authorities" ofType="com.atguigu.crm.entity.Authority">
			<id column="sub_id" property="id"/>
			<result column="sub_display_name" property="displayName"/>
			<result column="sub_url" property="url"/>
			<result column="sub_name" property="name"/>
			<result column="par_id" property="parentAuthority.id"/>
			<result column="par_display_name" property="parentAuthority.displayName"/>
		</collection>	
	</resultMap>
		
	
	
	
	<select id="getByName" resultMap="userMap">
		SELECT u.id,u.name, password, u.enabled, u.salt,
		r.name AS "role.name",r.id "role.id",
		sub.id "sub_id",sub.display_name "sub_display_name",sub.url "sub_url",sub.name "sub_name",
		par.id "par_id",par.display_name "par_display_name"
		FROM users u
		LEFT OUTER JOIN roles r
		ON u.role_id = r.id
		left outer join role_authority ra
		on ra.role_id=r.id
		left outer join  authorities sub
		on sub.id=ra.authority_id
		left outer join authorities par
		on sub.parent_authority_id=par.id
		
		WHERE u.name = #{name}
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<select id="getTotalCount" resultType="int">
		select count(*) from users
	</select>
	<select id="getLimitedList" resultType="com.atguigu.crm.entity.User" parameterType="map">
		select * from (
		select rownum rn,id,enabled,name from users )
		<![CDATA[where rn >=#{firstIndex} and rn <#{lastIndex}]]>
	</select>
	
</mapper>